* {
  overflow: hidden;
}

.dbBody {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(https://i.pinimg.com/originals/71/32/f3/7132f3c2ed1cd5a152b0a82a97fb30f1.gif);
  background-size: cover;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.dbTop {
  border: solid 3px black;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 20px 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.topContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
}

.searchBar {
  width: 200px;
  height: 30px;
  margin-left: 40%;
  margin-top: 2%;
}

.inputBtn {
  margin-top: 1.75%;
  margin-left: 0%;
}

.content {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
  margin-top: 5%;
  box-shadow: 0px 0px 50px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.inputContainer {
  border: solid 3px black;
  width: 40%;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 240%;
  text-align: center;
}

#confirmInput {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

#confirmInput:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.forecast {
  border: solid 3px black;
  width: 85%;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

#forecastInfo {
  width: 100%;
  margin: 30px;
  font-size: 20px;
}
